.input-label {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 4px;
}
.input-label--error {
  color: var(--warning-color);
}

.input-input {
  width: 100%;
  border-radius: 5px;
  padding: 0px 7px;
  height: 30px;
  font-size: 14px;
  outline: none;
  border: 1px solid var(--gray-color);
}

.input-input:focus {
  border-color: var(--primary-color-one);
}

.input-input:focus + .input-label-sec {
  color: var(--primary-color-one);
}

.input-input--error {
  border: 1px solid var(--warning-color);
}

.input-input--error:focus {
  border: 1px solid var(--warning-color);
}

.input-input--error:focus + .input-label-sec {
  color: var(--warning-color);
}
